{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'make_claim.css'%}"/>
<script type="text/javascript" src="{% static 'claim_form_file_loader.js' %}"></script>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Make Claim</span>
{% endblock %}

{% block right_menu_item %}
{% include 'icons/ic_share.html' %}
{% endblock %}

{% block container %}

<div id="claim_box">

<div class="section_header">
Upload Required Documents
</div>

<div class="form_section">

<form id="claim_form" action="/insurance/claim/upload_files/?claim_id={{claim.id}}&action=submit" method="post" enctype="multipart/form-data">{% csrf_token %}



<div class="form_section">
Please upload the following files: {{claim.policy.policy.required_documents_claim}}

{% if claim.files.all.count > 0 %}

<p>You've already uploaded:</p>
<ul>
{% for file in claim.files.all %}
<li>{{file.file_name}} {% if file.verified == True %}<span style="color:green">(verified)</span>{% else %}<span style="color:gray">(unverified)</span>{% endif %}</li>
{% endfor %}
</ul>

{% endif %}

<div id="file_box">
<div class="file_pair">
<b>What document is this?</b><br>
<input class="filename_field" type="text" name="filename"/> <input class="file_field" type="file" name="file"/>
</div>
</div>

<input id="number_of_files" type="hidden" name="number_of_files" value="0"/>

<input  id="form_submit_button" class="form_button" type="submit" name="submit" value="Submit Claim"/>

</div>
</form>
</div>

<script type="text/javascript">

var file_box = $('#file_box');
var number_of_files = $('#number_of_files');
var file_number = 1;


$('#file_box').on('.file_field change',function(){
	var $this = $(this);
	old_number = $this.find('.file_field').length;
	
	if($('.file_field').last().val() == ''){
		
	}else{
		file_box.append('<div class="file_pair"><b>What document is this?</b><br><input class="filename_field" type="text" name="filename'+file_number+'"/> <input class="file_field" type="file" name="file'+file_number+'"/></div>');
		number_of_files.val(file_number);
		file_number += 1;
	}
	
	})
	


</script>
</div>
{% endblock %}

{% block extra_floating_boxes %}
<div id="claim_options_box">

<a  id="save_progress_button_link" class="claim_option_link" href="/insurance/claim/upload_files/?claim_id={{claim.id}}&action=save">
<div id="save_progress_button" class="claim_option">
Save Progress
</div>
</a>


</div>
{% endblock %}