{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'in_progress.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">In Progress</span>
{% endblock %}

{% block container %}
<div class="section_header">
Insurance Application Forms
</div>

<div id="insurance_application_feed">

{% for form in application_forms %}

<a class="application_feedlet_link" href="/insurance/application/continue/?application_id={{form.id}}">
<div class="application_feedlet">
<div class="application_feedlet_title">
{{form.policy.title}}
</div>

<div class="application_feedlet_company">
{{form.policy.insurance_company.title}}
</div>

<div class="application_feedlet_category">
{{form.policy.get_category_display}}
</div>

<div class="application_feedlet_message">
Saved
</div>

</div>
</a>

{% empty %}
<div class="application_feedlet">
There are no saved forms.
</div>
{% endfor %}
</div>

<br>
<div class="section_header">
Insurance Claim Forms
</div>

<div id="insurance_claim_feed">
{% for claim in saved_claims %}
<a class="claim_feedlet_link" href="/insurance/claim/continue/?claim_id={{claim.id}}">
<div class="claim_feedlet">
<div class="claim_feedlet_title">
{{claim.policy.policy.title}}
</div>

<div class="claim_feedlet_company">
{{claim.policy.policy.insurance_company.title}}
</div>

<div class="claim_feedlet_category">
{{claim.policy.policy.get_category_display}}
</div>

<div class="claim_feedlet_message">
Saved
</div>

</div>
</a>
{% empty %}
<div class="claim_feedlet">
There are no saved forms.
</div>
{% endfor %}
</div>

{% endblock %}