{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'in_progress.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">In Progress</span>
{% endblock %}

{% block container %}
<div class="section_header">
Insurance Application Forms
</div>

<div id="insurance_application_feed">
{% for form in application_forms %}

{% empty %}
<div class="application_feedlet">
There are no saved forms.
</div>
{% endfor %}
</div>

<br>
<div class="section_header">
Insurance Claim Forms
</div>

<div id="insurance_claim_feed">
{% for form in claim_forms %}

{% empty %}
<div class="claim_feedlet">
There are no saved forms.
</div>
{% endfor %}
</div>

{% endblock %}