{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'policy_page.css'%}"/>
<script type="text/javascript" src="{% static 'policy_page.js' %}"></script>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Policy</span>
{% endblock %}

{% block right_menu_item %}
{% include 'icons/ic_share.html' %}
{% endblock %}

{% block container %}

<div id="policy_header">
<img id="policy_header_image" src="{{policy.insurance_company.image.url}}"/>
<div id="policy_title">{{policy.title}}</div>
<div id="policy_company">{{policy.insurance_company}}</div>
<div id="policy_category">{{policy.get_category_display}}</div>


<div id="policy_financials">
<div><b>Monthly Cost:</b> ZMW {{policy.monthly_cost|floatformat:2}}</div>
<div><b>Coinsurance:</b> {{policy.coinsurance}}%</div>
<div><b>Deductible:</b> ZMW {{policy.deductible|floatformat:2}}</div>
</div>

<br>

<a id="policy_apply_button_link" href="/insurance/apply/?policy_id={{policy.id}}">
<div id="policy_apply_button">
Apply for this plan
</div>
</a>

<button id="policy_cancel_button" class="policy_management_button">Cancel Policy</button>



</div>

<br>

<div class="section_headers">

</div>

<div id="coverage_feed">

{% for coverage_type in policy.coverage_types.all %}
<div class="coverage_section_header">
<b>{{coverage_type.title}}</b>
</div>
{% for detail in coverage_type.coverage_details.all %}
<div class="coverage_detail">
<b>{{detail.title}}</b>: {{detail.description}}
</div>
{% endfor %}

{% endfor %}

</div>
<br>

{% endblock %}

{% block extra_floating_boxes %}
<div id="policy_options_box">

<a class="policy_option_link" href="/insurance/payment_options/?policy_id={{policy.id}}">
<div class="policy_option">
Pay your Premium
</div>
</a>

<a class="policy_option_link" href="/insurance/make_claim/?policy_id={{policy.id}}">
<div class="policy_option">
Make a Claim
</div>
</a>

<a class="policy_option_link" href="/messages/ask/?policy_id={{policy.id}}">
<div class="policy_option">
Ask a Question
</div>
</a>

</div>
{% endblock %}