{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'policy_list.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Policies</span>
{% endblock %}

{% block container %}
<div class="section_header">
{{category}} Plans
</div>



<div id="policy_feed">
{% if category == 'Motor' %}
{% include 'auto_category_policy_list.html' %}
{% elif category == 'Health' %}
{% include 'health_category_policy_list.html' %}
{% elif category == 'Property' %}
{% include 'property_category_policy_list.html' %}
{% elif category == 'Travel' %}
{% include 'travel_category_policy_list.html' %}
{% elif category == 'Commercial'}
{% include 'commercial_category_policy_list.html' %}
{% endif %}

</div>
{% endblock %}