{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'policy_page.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Policy</span>
{% endblock %}

{% block container %}

<div id="policy_header">
<div id="policy_title">{{policy.title}}</div>
<div id="policy_company">{{policy.insurance_company}}</div>
<div id="policy_category">{{policy.get_category_display}}</div>


<div id="policy_financials">
<div><b>Monthly Cost:</b> ZMW {{policy.monthly_cost|floatformat:2}}</div>
<div><b>Coinsurance:</b> {{policy.coinsurance}}%</div>
<div><b>Deductible:</b> ZMW {{policy.deductible|floatformat:2}}</div>
</div>

</div>

<br>

<div class="section_header">
Coverage
</div>

<div id="coverage_feed">

{% for coverage_type in policy.coverage_types.all %}
<div id="section_header">
{{coverage_type.title}}
</div>
{% for detail in coverage_type.coverage_details.all %}
<div class="coverage_detail">
{{detail.title}}:{{detail.description}}
</div>
{% endfor %}

{% endfor %}

</div>
<br>

{% endblock %}