{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'policy_apply.css'%}"/>
<script type="text/javascript" src="{% static 'policy_apply.js' %}"></script>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Application</span>
{% endblock %}

{% block right_menu_item %}
{% include 'icons/ic_share.html' %}
{% endblock %}

{% block container %}

<div id="claim_box">


<form action="#" method="post">{% csrf_token %}

<div class="section_header">
<b>Your Information</b>
</div>

<div class="form_section">

<p><b>Title</b><br>
<select name = "title" class="dropdown_menu">
<option value="MR">Mr</option>
<option value="MRS">Mrs</option>
<option value="MS">Ms</option>
</select>
</p>

<p><b>First Name</b>
<input class="form_field" type="text" name="first_name"/>
</p>

<p><b>Last Name</b>
<input class="form_field" type="text" name="last_name"/>
</p>

<p><b>Phone</b>
<input class="form_field" type="text" name="phone"/>
</p>

<p><b>Email</b>
<input class="form_field" type="text" name="email"/>
</p>


<p><b>Income</b><br>
<select class="dropdown_menu" name = "income">
<option value="L1K">less than ZMW 1000</option>
<option value="B1K10K">between ZMW 1000 - 10000</option>
<option value="G10K">ZMW 10000 and above</option>
</select>
</p>

<p><b>Source of Funds</b><br>
<select class="dropdown_menu" name = "funding_sources">
<option value="B">Business</option>
<option value="S">Salary</option>
<option value="O">Other</option>
</select>
</p>

<p><b>If Other Specify</b>
<input class="form_field" type="text" name="funding_specify"/>
</p>

</div>

<div class="section_header">
<b>Vehicle Registration Address</b>
</div>

<div class="form_section">
<p><b>Address</b>
<input class="form_field" type="text" name="vehicle_registration_address"/>
</p>

<p><b>Town/City</b>
<input class="form_field" type="text" name="vehicle_registration_city"/>
</p>

<p><b>Country</b>
<input class="form_field" type="text" name="vehicle_registration_country"/>
</p>

</div>

<div class="section_header">
Type of Cover
</div>

<div class="form_section">
<p><b>Cover</b><br>
<select class="dropdown_menu" name="type_of_cover">
<option value="PKG">Package</option>
<option value="FO">Fire Only</option>
<option value="TO">Theft Only</option>
<option value="LO">Liability Only</option>
<option value="FT">Fire and Theft Only</option>
<option value="FL">Fire and Liability Only</option>
<option value="TL">Theft and Liability Only</option>
</select>
</p>
</div>

<div class="section_header">
<b>Vehicle Information</b>
</div>

<div class="form_section">

<p><b>Condition</b><br>
<select class="dropdown_menu" name="vehicle_condition">
<option value="OO">Original Owner</option>
<option value="SH">Second Hand</option>
</select>
</p>

<p><b>Make</b>
<input class="form_field" type="text" name="vehicle_make"/>
</p>

<p><b>Model</b>
<input class="form_field" type="text" name="vehicle_model"/>
</p>

<p><b>Seating Capacity (including driver) </b>
<input class="form_field" type="text" name="vehicle_seating_capacity"/>
</p>

</div>

<div class="section_header">
<b>Vehicle Usage and Type</b>
</div>

<div class="form_section">

<p><b>Normal Usage Area</b><br>
<select class="dropdown_menu" name="vehicle_usage_area">
<option value="U">Urban</option>
<option value="R">Rural</option>
</select>
</p>

<p><b>Vehicle Usage</b><br>
<select class="dropdown_menu" name="vehicle_usage_type">
<option value="P">Private/Social Purpose</option>
<option value="D">Driving Tuitions</option>
<option value="T">Towing</option>
</select>
</p>

</div>




<div class="form_section">
<p>
<input id="application_submit_button" type="submit" name="submit" value="Submit Application"/>
</p>
</div>

</form>


</div>

<br>

{% endblock %}


{% block extra_floating_boxes %}
<div id="application_options_box">

<a class="application_option_link" href="/insurance/apply/save/?policy_id={{policy.id}}">
<div class="application_option">
Save Progress
</div>
</a>


</div>
{% endblock %}

