#fader_box{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.5;
	top:0px;
	left:0px;
	z-index:4;
	display:none;
}

#side_menu{
	position:fixed;
	height:100%;
	width:70%;
	background-color:#455A64;
	top:0px;
	left:0px;
	z-index:5;
	font-family:'Arial';
	display:none;
}

#side_menu_title{
	color:#FFFFFF;
	width:100%;
	box-sizing:border-box;
	border-bottom:solid 1px #90A4AE;
	padding:15px;
	height:56px;
	font-size:1em;
}
.side_menu_item{
	color:#FFFFFF;
	width:100%;
	box-sizing:border-box;
	border-bottom:solid 1px #90A4AE;
	padding:15px;
	height:56px;
	font-size:1em;
	text-decoration:none;
}

.side_menu_link{
	text-decoration:none;
}

.side_menu_item:active{
	background-color:#81C784;
}

#status_bar{
	top:0px;
	left:0px;
	position:fixed;
	height:56px;
	width:100%;
	background-color:#FFFFFF;
	border-bottom:solid 1px #D0D0D0;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
	z-index:3;
}

#status_bar_title_box{
	top:0px;
	left:0px;
	position:fixed;
	padding-top:17px;
	padding-bottom:15px;
	height:56px;
	width:100%;
	position:fixed;
	font-family:'Arial';
	color:#666666;
	font-size:1.3em;
	z-index:3;
	text-align:center;
	box-sizing:border-box;
	padding-left:15px;
	padding-right:15px;
}

#left_menu_item{
	float:left;
}

#left_menu_item:active{
	background-color:#D3D0D0;
}

#right_menu_item{
	float:right;
}

#status_bar_icon{
	position:relative;
	left:-5px;
	top:2px;
}
#status_bar_title{
	font-family:'Arial';
	margin:0 auto;
	
}

#page_content{
	width:100%;
	min-height:100%;
	position:absolute;
	top:0px;
	left:0px;
	font-family:'Arial';
	background-color:#F3F0F0;
	
}

#container{
	#padding:5px;
	padding-top:56px;
	box-sizing:border-box;
	-webkit-user-select:none;
}