.section_header{
	font-family:'Arial';
	font-size:1em;
	color:#666666;
	border-bottom:solid 1px #D3D0D0;
	background-color:#FFFFFF;
	box-sizing:border-box;

}


.section_header_button{
	display:inline-block;
	text-align:center;
	width:49.3%;
	font-size:1.2em;
	padding-top:10px;
	padding-bottom:10px;
}

.section_header_button:active{
	background-color:#D3D0D0;
}

.section_header_link{
	text-decoration:none;
	color:#666666;
}


#inbox_button{
	#border-right:solid 1px #E3E0E0;
	background-color:#D3D0D0;
}

.message_feedlet{
	background-color: #FFFFFF;
	border-bottom:solid 1px #E3E0E0;
	position:relative;
	font-family:0.8em;
	padding:10px;
	padding-top:10px;
	padding-bottom:10px;
	box-sizing:border-box;
}

.message_feedlet_link{
	text-decoration:none;
}

.message_section{
	padding-top:2.5px;
	padding-bottom:2.5px;
	color: #666666;
}

.sender_box{
	font-size:1.1em;
	color:#000000;
}

.message_feedlet:active{
	background-color:#D3D0D0;
}

#message_feed{
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
}
