#claim_box{
	min-height:200px;
	background-color:#FFFFFF;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
	padding-bottom:20px;
}

.section_header{
	font-family:'Arial';
	font-size:0.9em;
	color:#666666;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	border-top:solid 1px #D3D0D0;
	border-bottom:solid 1px #D3D0D0;
	background-color:#EEEEEE;
	box-sizing:border-box;

}

.form_section{
	padding:10px;
}

.form_field{
	width:100%;
	padding:10px;
	box-sizing:border-box;
}

.dropdown_menu{
	padding:10px;
}

.form_button{
	margin-top:40px;
	width:100%;
	background-color:#FB8C00;
	color:#FFFFFF;
	border:solid 1px #F57C00;
	border-radius:3px;
	font-size:1.2em;
	padding:15px;
	box-sizing:border-box;
	text-align:center;
}

.form_button:active{
	background-color:#EF6C00;
}

.file_field{
	width:50%;
}
.filename_field{
	width:45%;
	padding:5px;
}

.file_pair{
	padding-top:20px;
}

#application_submit_button{
	background-color:#FB8C00;
	color:#FFFFFF;
	border:solid 1px #F57C00;
	border-radius:3px;
	padding:15px;
	font-size:1.2em;
	width:100%;
	margin:0 auto;
}

#application_submit_button:active{
	background-color:#EF6C00;
}

#application_submit_button{
	text-decoration:none;
}


#application_options_box{
	position:fixed;
	font-family:'Arial';
	left:50%;
	top:50%;
	width:300px;
	margin-left:-150px;
	background-color:#FFFFFF;
	margin-top:-150px;
	border:solid 1px #E3E0E0;
	z-index:5;
	display:none;
}

.application_option{
	color:#000000;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:solid 1px #E3E0E0;
}


.application_option:active{
	background-color:#D3D0D0;
}

.application_option_link{
	text-decoration:none;
}