#claim_box{
	min-height:200px;
	background-color:#FFFFFF;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
	padding-bottom:20px;
}

.section_header{
	font-family:'Arial';
	font-size:0.9em;
	color:#666666;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	border-top:solid 1px #D3D0D0;
	border-bottom:solid 1px #D3D0D0;
	background-color:#EEEEEE;
	box-sizing:border-box;

}

.form_section{
	padding:10px;
}

.form_field{
	width:100%;
	padding:10px;
	box-sizing:border-box;
}

.dropdown_menu{
	padding:10px;
}
