.coverage_section_header{
	font-family:'Arial';
	font-size:1em;
	color:#666666;
	padding-top:1.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
	border-bottom:solid 1px #D3D0D0;
	background-color:#FFFFFF;
	box-sizing:border-box;

}

.policy_feedlet{
	background-color: #FFFFFF;
	border-bottom:solid 1px #E3E0E0;
	height:145px;
	position:relative;
	padding:10px;
	box-sizing:border-box;
}
.policy_feedlet:active{
	background-color:#D3D0D0;
}

.policy_feedlet_title{
	color:#333333;
	font-size:1.1em;
}

.policy_feedlet_category{
	color:#FF8F00;
	font-size:0.9em;
}

.policy_feedlet_company{
	color:#4CAF50;
	font-size:0.9em;
}
.policy_feedlet_premium{
	color:#888888;
	font-size:0.9em;
	padding-top:0.5em;
}

.policy_feedlet_link{
	text-decoration:none;
}

.feedlet_visit_button{
	position:absolute;
	font-size:1em;
	color:#FFFFFF;
	background-color:#26A69A;
	border:solid 1px #009688;
	box-sizing:border-box;
	padding:7.5px;
	right:10px;
	bottom:10px;
	display:none;
}


#policy_header{
	min-height:200px;
	background-color:#FFFFFF;
	color:#444444;
	border-bottom:solid 1px #D3D0D0;
	padding:10px;
	padding-top:20px;
	padding-bottom:30px;
	box-sizing:border-box;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
	text-align:center;
}

#policy_financials{
	padding-top:10px;
	font-size:0.9em;
	color:#444444;
	
}

#policy_title{
	font-size:1.2em;
	color:#333333;
}

#policy_header_image{
	width:100%;
}

#policy_category{
	color:#FF8F00;
	font-size:0.9em;
}

#policy_company{
	color:#4CAF50;
	font-size:0.9em;
}

#policy_apply_button{
	background-color:#FB8C00;
	color:#FFFFFF;
	border:solid 1px #F57C00;
	border-radius:3px;
	padding:15px;
	font-size:1.2em;
	width:80%;
	margin:0 auto;
}

#policy_apply_button:active{
	background-color:#EF6C00;
}

#policy_management_box{
	width:100%;
}


.policy_management_button:active{
	background-color:#666666;
}

#policy_claim_button{
	border:solid 1px #4CAF50;
	background-color:#4CAF50;
	border-radius:3px 0px 0px 3px;
}

#policy_cancel_button{
	text-align:center;
	font-size:1em;
	border:solid 1px #929191;
	background-color:##929191;
	border-radius:3px;
	width:80%;
	padding:15px;
	display:none;
	font-family:1.2em;
	border-radius:3px;
}

#coverage_feed{
	min-height:200px;
	background-color:#FFFFFF;
	#border-bottom:solid 1px #D30D0;
	padding-bottom:2em;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
}

.coverage_detail{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:0.8em;
	#border-bottom:solid 1px #666666;
}