#container{
	font-family:'Arial';
	height:100%;
	width:100%;
	padding:32px;
	box-sizing:border-box;
}

#page_content{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}

#fader_box{
	background-color:#000000;
	opacity:0.5;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;
	display:none;
}

#start_page_logo{
	margin-top:70px;
	text-align:center;
}

#start_page_logo img{
	width:36px;
}

#start_page_title{
	text-align:center;
	font-size:36px;
	position:relative;
	top:-7.5px;
}

#start_page_description{
	font-size:0.9em;
	text-align:center;
	margin-top:20px;
}

#start_page_buttons{
	width:100%;
	box-sizing:border-box;
	position:absolute;
	padding:32px;
	bottom:50px;
	left:0px;
}

#login_button{
	text-align:center;
	padding:12px;
	background-color:#9E9E9E;
	box-sizing:border-box;
	margin-top:12px;
	border-radius:2px;
	width:100%;
}

#signup_button{
	text-align:center;
	padding:12px;
	background-color:#FB8C00;
	color:#FFFFFF;
	border:solid 1px #F57C00;
	box-sizing:border-box;
	border-radius:2px;
	width:100%;
	
}


#account_options_button{
	padding:10px;
	color:#FFFFFF;
	background-color:#43A047;
	box-sizing:border-box;
	text-align:center;
}

#account_options_button:active{
	background-color:#2E7D32;
}

#account_options_box{
	font-family:'Arial';
	position:fixed;
	background-color:#FFFFFF;
	border:solid 1px #BBBBBB;
	border-radius:5px;
	height:220px;
	width:250px;
	top:50%;
	margin-top:-110px;
	left:50%;
	margin-left:-125px;
	box-sizing:border-box;
	z-index:3;
	display:none;
}


#account_options_title{
	border-bottom:solid 1px #BBBBBB;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
}

#account_options_content{
	padding:10px;
}

