#container{
	font-family:'Arial';
	height:100%;
	width:100%;
	padding:32px;
	box-sizing:border-box;
}

#page_content{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	-webkit-user-select:none;
}

#fader_box{
	background-color:#000000;
	opacity:0.75;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;
	display:none;
}

#start_page_logo{
	margin-top:70px;
	text-align:center;
}

#start_page_logo img{
	width:36px;
}

#start_page_title{
	text-align:center;
	font-size:36px;
	position:relative;
	top:-7.5px;
}

#start_page_description{
	font-size:0.9em;
	text-align:center;
	margin-top:20px;
}

#start_page_buttons{
	width:100%;
	box-sizing:border-box;
	position:absolute;
	padding:32px;
	bottom:50px;
	left:0px;
}

#main_page_login_button{
	text-align:center;
	padding:12px;
	background-color:#9E9E9E;
	box-sizing:border-box;
	margin-top:12px;
	border-radius:2px;
	width:100%;
}

#main_page_login_button:active{
	background-color:#616161;
}

#signup_button{
	text-align:center;
	padding:12px;
	background-color:#FB8C00;
	color:#FFFFFF;
	border:solid 1px #F57C00;
	box-sizing:border-box;
	border-radius:2px;
	width:100%;
	
}

#signup_button:active{
	background-color:#EF6C00;
}

#account_options_button{
	padding:10px;
	width:100%;
	#background-color:#9E9E9E;
	box-sizing:border-box;
	text-align:center;
	font-size:1em;
	margin-top:10px;
}



#account_options_box{
	font-family:'Arial';
	font-size:20px;
	position:fixed;
	background-color:#FFFFFF;
	border:solid 1px #BBBBBB;
	border-radius:3px;
	min-height:220px;
	width:300px;
	top:50%;
	margin-top:-150px;
	left:50%;
	margin-left:-150px;
	box-sizing:border-box;
	z-index:3;
	display:none;
}


#account_options_title{
	border-bottom:solid 1px #BBBBBB;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
	
}

#account_options_content{
	padding:10px;
}

#login_box{
	font-family:'Arial';
	font-size:1.1em;
	position:fixed;
	background-color:#FFFFFF;
	border:solid 1px #BBBBBB;
	border-radius:3px;
	min-height:220px;
	width:300px;
	top:50%;
	margin-top:-150px;
	left:50%;
	margin-left:-150px;
	box-sizing:border-box;
	z-index:3;
	display:none;
}


#login_box_title{
	border-bottom:solid 1px #BBBBBB;
	padding:10px;
	box-sizing:border-box;
	text-align:center;	
}

#login_box_content{
	padding:10px;
}

.form_field{
	width:100%;
	font-family:'Arial';
	font-size:1.1em;
	padding:10px;
	box-sizing:border-box;
}

#login_button{
	width:100%;
	font-size:1.1em;
	padding:10px;
}

