.notification_feedlet{
	background-color:#FFFFFF;
	border-radius:3px;
	padding:10px;
	box-sizing:border-box;
	width:100%;
	margin:10px 0px 0px 0px;
	#border:solid 1px #D3D0D0;
	box-shadow: 0px 2.5px 2.5px rgba(148, 148, 148, 0.32);
}

.notification_feedlet:active{
	background-color:#D3D0D0;
}

#notification_feed{
	padding:10px;
}