{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'messages.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Messages</span>
{% endblock %}



{% block container %}
<div class="section_header">

<a class="section_header_link">
<div class="section_header_button" id="inbox_button">
Inbox
</div>
</a>

<a class="section_header_link" href="/messages/outbox/">
<div class="section_header_button" id="outbox_button">
Outbox
</div>
</a>

</div>
<div id="message_feed">
{% for message in messages %}
<a class="message_feedlet_link" href="/messages/view/?message_id={{message.id}}">
<div class="message_feedlet">

<div class="sender_box" class="message_section">
{% if message.sender.account_type.insurance_company == True %}
{{message.sender.insurance_company.title|truncatechars:40}}
{% elif message.sender.account_type.individual == True %}
{{message.sender.client_profile.first_name}} {{message.sender.client_profile.last_name}}
{% endif %}
</div>

<div class="message_section">
{{message.subject|truncatechars:40}}
</div>

<div class="message_section">
{{message.body|truncatechars:30}}
</div>

</div>
</a>
{% empty %}
<div class="message_feedlet">
There are no messages
</div>
{% endfor %}



</div>

<br>

{% endblock %}

