{% load static %}
<html>

<head>

{% block page_title %}
<title> Mango </title>
{% endblock %}



<link type="text/css" rel="stylesheet" href="{% static 'base.css'%}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="{% static 'mango_launch_icon.png' %}">
<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'base.js' %}"></script>
{% block page_header %}

{% endblock %}

</style>

</head>

<body>

<div id="status_bar">

</div>

<div id="status_bar_title_box">
<span id="left_menu_item">
{% block left_menu_item %}
{% include 'icons/ic_menu.html' %}
{% endblock %}
</span>

{% block mid_menu_item %}
<span id="status_bar_title"><img id="status_bar_icon" src="{% static 'mango_icon.png' %}" width=16/>mango</span>
{% endblock %}

<span id="right_menu_item">
{% block right_menu_item %}
<!--Empty div to take up space on menu-->
<div style="width:32px;border:solid 1px #FFFFFF"></div>
{% endblock %}
</span>
</div>

<div id="page_content">

<div id="container">

{% block container %}

{% endblock container %}

</div>



</div>

{% block fader_box %}

<div id="fader_box">

</div>

{% endblock %}

{% block extra_floating_boxes %}

{% endblock %}

{% block side_menu %}
<div id="side_menu">

<a class="side_menu_link" href="/">
<div class="side_menu_item">
Home
</div>
</a>

<a class="side_menu_link" href="/insurance/types/">
<div class="side_menu_item">
Buy Insurance
</div>
</a>

<a class="side_menu_link" href="/insurance/my/">
<div class="side_menu_item">
My Insurance
</div>
</a>

<a class="side_menu_link" href="/insurance/claims/">
<div class="side_menu_item">
My Claims
</div>
</a>

<a class="side_menu_link" href="/in_progress/">
<div class="side_menu_item">
In Progress
</div>
</a>

<a href="/messages/inbox/">
<div class="side_menu_item">
Messages
</div>
</a>

<a class="side_menu_link" href="/settings/">
<div class="side_menu_item">
Settings
</div>
</a>

<a class="side_menu_link" href="/accounts/logout/">
<div class="side_menu_item">
Logout
</div>
</a>

</div>
{% endblock %}
</body>

</html>