{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'home.css'%}"/>
{% endblock %}

{% block container %}

<div id="page_banner">
<img src="{% static 'insurance_logos.png' %}"/>
</div>

<div id="user_insurance_feed">

<div class="section_header">
Your Insurance Plans
</div>

<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">

<div class="user_insurance_feedlet_title">
Secure Lite STM 2500
</div>

<div class="user_insurance_feedlet_company">
Aetna
</div>

<div class="user_insurance_feedlet_category">
Health
</div>

<div class="user_insurance_feedlet_premium">
<b>Monthly Costs:</b> ZMW 500<br>
<b>Coinsurance:</b> 50%<br>
<b>Deductible:</b> ZMW 2500
</div>

</div>
<div class="user_insurance_feedlet_buttons">

<div class="feedlet_visit_button">
SHOW
</div>
</div>

</div>

<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">


</div>
<div class="user_insurance_feedlet_buttons">

<div class="feedlet_visit_button">
SHOW
</div>
</div>

</div>

<div class="more_button">
MORE
</div>

</div>


<br>
<div id="user_claims_feed">
<div class="section_header">
Pending Claims
</div>
<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">


</div>
<div class="user_insurance_feedlet_buttons">

<div class="feedlet_visit_button">
SHOW
</div>
</div>

</div>

<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">


</div>
<div class="user_insurance_feedlet_buttons">

<div class="feedlet_visit_button">
SHOW
</div>
</div>

</div>

<div class="more_button">
MORE
</div>

</div>
<br>
{% endblock %}