{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'home.css'%}"/>
<script type="text/javascript" src="{% static 'home.js' %}"></script>
{% endblock %}

{% block right_menu_item %}
{% include 'icons/ic_notifications2.html' %}
{% endblock %}

{% block container %}

<div id="page_banner">
<img src="{% static 'insurance_logos.png' %}"/>
</div>

<div id="user_insurance_feed">

<div class="section_header">
Your Insurance Plans
</div>

{% for current_policy in current_policies %}
<a class="user_insurance_feedlet_link" href="/insurance/policy/?policy_id={{current_policy.policy.id}}">
<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">

<div class="user_insurance_feedlet_title">
{{current_policy.policy.title}}
</div>

<div class="user_insurance_feedlet_company">
{{current_policy.policy.insurance_company.title}}
</div>

<div class="user_insurance_feedlet_category">
{{current_policy.policy.get_category_display}}
</div>

<div class="user_insurance_feedlet_premium">
<b>Monthly Costs:</b> ZMW {{current_policy.policy.monthly_cost|floatformat:2}}<br>
<b>Coinsurance:</b> {{current_policy.policy.coinsurance}}%<br>
<b>Deductible:</b> ZMW {{current_policy.policy.deductible|floatformat:2}}
</div>

</div>
<div class="user_insurance_feedlet_buttons">

<div class="feedlet_visit_button">
SHOW
</div>
</div>

</div>
</a>

{% empty %}
<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">
There are no pending claims.
</div>

</div>

{% endfor %}

<a class="more_button_link" href="/insurance/my/">
<div class="more_button">
MORE
</div>
</a>

</div>


<br>
<div id="user_claims_feed">
<div class="section_header">
Pending Claims
</div>
{% for claim in pending_claims %}

<div class="claim_feedlet">
<div class="claim_feedlet_title">
{{claim.policy.policy.title}}
</div>

<div class="claim_feedlet_company">
{{claim.policy.policy.insurance_company.title}}
</div>

<div class="claim_feedlet_category">
{{claim.policy.policy.get_category_display}}
</div>

<div class="claim_feedlet_message">
Pending Decision
</div>

</div>


{% empty %}
<div class="user_insurance_feedlet">

<div class="user_insurance_feedlet_details">
There are no pending claims.
</div>

</div>

{% endfor %}

<a class="more_button_link" href="/insurance/claims/">
<div class="more_button">
MORE
</div>
</a>

</div>
<br>
{% endblock %}