{% load static %}
<html>

<head>
<title>Mango</title>
<link type="text/css" rel="stylesheet" href="{% static 'start_page.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="mobile-web-app-capable" content="yes">
</head>

<body>

<div id="page_content">

<div id="container">

<div id="start_page_logo">
<img src="{% static 'mango_icon.png' %}"/> <span id="start_page_title">mango</span>
</div>



<div id="start_page_description">
<b>Manage all your insurance in one place.</b>
</div>

<div id="start_page_buttons">

<div id="signup_button">
Sign Up
</div>

<div id="login_button">
Log In
</div>

</div>


</div>


<div id="account_options_box">
<div id="account_options_title">Choose Account Type</div>

<div id="account_options_content">

<form action="#">
<input type="radio" name="account_type" value="I" checked="checked">Individual<br>
<input type="radio" name="account_type" value="C">Company<br>
<input type="radio" name="account_type" value="M">Medical Institution<br>
<input type="radio" name="account_type" value="P">Police Station<br>
<input type="radio" name="account_type" value="S">Service Agent<br>
</form>

<div id="account_options_button">
NEXT
</div>

</div>

</div>

<div id="fader_box">

</div>

</div>

</body>

</html>