{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'view_notifications.css'%}"/>
{% endblock %}

{% block mid_menu_item %}
<span id="status_bar_title">Feed</span>
{% endblock %}

{% block container %}

<div id="notification_feed">

<div class="notification_feedlet">
<div class="notification_image">

</div>

<div class="notification_meta">
<div class="notification_message">Your premium payment to Professional Insurance has been confirmed.</div>
<div class="notification_details" style="font-size:0.9em"><b>Amount:</b> K189</div>
<div class="notification_details" style="font-size:0.9em"><b>Method:</b> Zoona</div>
</div>
</div>

<div class="notification_feedlet">
<div class="notification_image">

</div>

<div class="notification_meta">
<div class="notification_message">Your premium has been adjusted.</div>
<div class="notification_details" style="font-size:0.9em">Private Motor Insurance 1 Quarter</div>
<div class="notification_details" style="font-size:0.9em"><b>New Amount:</b> K189</div>


</div>
</div>

<div class="notification_feedlet">
<div class="notification_image">

</div>

<div class="notification_meta">
<div class="notification_message">Congratulations, Your claim has been approved!</div>
<div class="notification_details" style="font-size:0.9em">Private Motor Insurance 1 Quarter</div>

</div>
</div>

<div class="notification_feedlet">
<div class="notification_image">

</div>

<div class="notification_meta">
<div class="notification_message">Zambezi Auto Repair just uploaded a verified document for your claim.</div>
<div class="notification_details" style="font-size:0.9em"><b>Document:</b> Motor Vehicle Quote</div>
<div class="notification_details" style="font-size:0.9em">Private Motor Insurance 1 Quarter</div>

</div>
</div>

<div class="notification_feedlet">
<div class="notification_image">

</div>

<div class="notification_meta">
<div class="notification_message">Your premium payment to Professional Insurance has been confirmed.</div>
<div class="notification_details" style="font-size:0.9em"><b>Amount:</b> K150</div>
<div class="notification_details" style="font-size:0.9em"><b>Method:</b> Zoona</div>
</div>
</div>

</div>

{% endblock %}